* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: #fff5f8;
    color: #5c3745;
}

header {
    background-color: #eb9db5bd;
    padding: 20px;
    text-align: center;
      box-shadow: 0 3px 10px #af7185;
}

.logo {
    font-family: Georgia, 'Franklin Gothic Medium', sans-serif;
    font-size: 42px;
    color: #9e4968;
    margin-bottom: 15px;
}

nav a {
    color: #5c3745;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
}

nav a:hover {
    color: #a94468;
}

main {
    padding: 50px 8%;
    min-height: 70vh;
}

h1 {
    font-family: Georgia, serif;
    color: #9e4968;
    font-size: 42px;
    margin-bottom: 20px;
}

h2 {
    color: #a94d6d;
    margin-bottom: 15px;
}

p {
    line-height: 1.7;
    margin-bottom: 25px;
}

.botao {
    display: inline-block;
    background-color: #c76585;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
}

.botao:hover {
    background-color: #9e4968;
}


.banner {
    text-align: center;
    background-color: #fbdce6;
    padding: 100px 20px;
    border-radius: 30px;
}

.banner h1 {
    font-size: 55px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.produto {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 10px #e8cbd4;
}

.produto img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.preco {
    color: #b14d70;
    font-size: 21px;
    font-weight: bold;
}

.tecido {
    color: #777;
    font-size: 14px;
}


.formulario {
    max-width: 550px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddb2c1;
    border-radius: 5px;
}

textarea {
    height: 130px;
}

button {
    border: none;
    background-color: #c76585;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b67388;
}


.carrinho {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

.item {
    border-bottom: 1px solid #ead1d9;
    padding: 20px 0;
}

.total {
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    color: #a94d6d;
}


footer {
    background-color: #975a71;
    color: white;
    text-align: center;
    padding: 30px;
}

footer p {
    margin: 5px;
}


@media (max-width: 700px) {

    nav a {
        display: block;
        margin: 10px;
    }

    .produtos {
        grid-template-columns: 1fr;
    }

    .banner h1 {
        font-size: 40px;
    }

    h1 {
        font-size: 35px;
    }
}